@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.badge-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Adjust as needed for spacing between badges */
}

.badge-row img {
  height: 30px;
  cursor: point;
  width: auto;
}
